body {
margin: 0;
padding: 0;
font-family: verdana, arial, sans-serif;
font-size: 14px;
color: #6b5251;
}

div {
padding:0;
margin:0;
}

h1 {
margin: 0;
font-size: 20px;
white-space: nowrap;
overflow: hidden;
}

h2 {
margin: 0 0 5px 0;
font-size: 18px;
font-weight: normal;
}

p {
margin: 10px 0;
}

p.subhead {
font-style: italic;
font-weight: bold;
margin: 3px 0;
}

p.help {
font-size: 12px;
font-style: italic;
color: #df8484;
margin: 0 0 3px 0;
}

p.error {
font-style: italic;
color: red;
text-align:center;
}

p.message {
font-style: italic;
text-align:center;
padding: 10px;
background-color: #d4bcbc;
}

a {
color: #d70e0d;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

div.bookmarklet {
text-align: center;
padding: 15px 0;
}

img {
border: 0;
}

/* ================================================= */
/* Home Page */
/* ================================================= */

.extlogo {
border:1px solid #6b5251;
margin:0 0 7px 20px;
padding: 0;
width: 220px;
display: block;
}

p.exttext {
margin:-20px 0 5px 0;
padding:0;
text-align:right;
}

img.logo {
width: 200px;
height: 73px;
float: left;
margin-right: 10px;
margin-bottom: 10px;
}

img.logo-small {
width: 93px;
height: 34px;
margin-right: 10px;
padding-top: 2px;
}

/* ================================================= */
/* Profile and User Pages */
/* ================================================= */

img.profile-med {
width: 75px;
}

.form img.profile-med {
float:left;
padding:5px;
}

img.inline {
vertical-align:middle; 
}

li {
line-height: 18px;
margin-left: -5px;
margin-bottom: 3px;
}

/* ================================================= */
/* Mapped Page */
/* ================================================= */

div.title {
background: url(/images/title-background.png) repeat-x scroll top;
height: 32px;
color:white;
}

div.title a {
color: white;
}

div.title-account {
position: absolute;
top: 3px;
right: 30px;
}

img.title-logo {
position: absolute;
top: 3px;
left: 14px;
}

div.close-box {
background: url(/images/close-box.png) scroll top;
width: 11px;
height: 11px;
cursor: pointer;
}

div.title div.close-box {
position: absolute;
right: 10px;
top: 10px;
}

div.title p.link {
font-size: 10px;
color: white;
white-space: nowrap;
overflow: hidden;
margin: 0 25px 0 310px;
padding-top: 8px;
}

div.title p.link a {
color: white;
}

div.divider-h {
background: url(/images/Divider-H.png) repeat-x scroll top;
height: 2px;
margin: 0;
}

div.border-v {
background: url(/images/Border-V.png) repeat-y scroll top;
width: 6px;
height: 100%;
}

#info {
position: absolute;
top: 32px;
left: 0;
width: 300px;
height: 3000px;
}

#content {
margin: 0 0 0 306px;
height: 3000px;
}

#content iframe {
border: 0;
width: 100%;
height: 100%;
}

/* ================================================= */
/* Mapped Page Sidebar Panels */
/* ================================================= */

div.panel {
margin: 0;
overflow: hidden;
}

div.panel-header {
position: relative;
top: 0;
left: 0;
font-weight: bold;
color: white;
background: url(/images/title-background.png) repeat-x scroll;
height: 20px;
text-align: center;
padding: 2px;
}

div.expanded {
background: url(/images/expanded.png) scroll top;
width: 13px;
height: 12px;
cursor: pointer;
}

div.expanded:hover {
background: url(/images/collapsed.png) scroll top;
}

div.collapsed {
background: url(/images/collapsed.png) scroll top;
width: 13px;
height: 12px;
cursor: pointer;
}

div.collapsed:hover {
background: url(/images/expanded.png) scroll top;
}

#stats-panel div.expanded {
position: absolute;
top: -22px;
right: 5px;
}

#stats-panel div.content {
margin-left: 80px;
}

div.panel-header div.expanded {
position: absolute;
right: 10px;
top: 5px;
}

div.open-star {
background: url(/images/open-star.png) scroll top;
width: 32px;
height: 30px;
cursor: pointer;
}

div.open-star:hover {
background: url(/images/closed-star.png) scroll top;
}

div.closed-star {
background: url(/images/closed-star.png) scroll top;
width: 32px;
height: 30px;
cursor: pointer;
}

div.closed-star: hover {
background: url(/images/open-star.png) scroll top;
}

div.panel-body div.open-star {
float: right;
}

div.panel-body div.closed-star {
float: right;
}

div.panel-body {
padding: 0;
}

div.panel-body p
{
margin: 0;
padding: 0 4px 1px 5px;
}

div.creator {
position: absolute;
top: 0;
left: 0;
width: 75px;
text-align:center;
padding: 7px 0 0 7px;
}

.info #info-form {
padding: 0;
margin: 0 0 0 5px;
}

.info label {
font-size: 12px;
}

input[type=text] {
background-color: #EEE;
border: 1px solid #AAA;
padding: 1px 2px;
margin: 1px;
}

div.comments {
height: 300px;
overflow: auto;
}

div.comments p {
margin: 0;
padding-bottom: 4px;
}

/* ================================================= */
/* Page-specific styles (based on pages.html master
   template) */
/* ================================================= */
div.page {
width: 910px;
margin: auto;
}

div.heading {
float: right;
white-space: nowrap;
}

div.head {
padding-bottom: 20px;
}

div.head img.profile-med {
float: left;
padding: 5px;
}

div.left {
clear: left;
width: 440px;
float: left;
}

div.right {
float: right;
width: 440px;
padding-left: 20px;
border-left: 1px solid #45AFD1;
}

div.timer {
clear: both;
padding-top:15px;
text-align:center;
}

div.bottom {
clear:both;
text-align:center;
padding: 15px 0 5px 0;
}

table {
border-collapse: collapse;
}

table.scores {
margin: auto;
width: 900px;
}

table.scores th {
text-align: left;
border-bottom: 1px solid;
padding-right: 10px;
}

table.scores td {
vertical-align: top;
padding-top: 5px;
}

table.scores td.title div {
width: 400px;
overflow: hidden;
}

table.scores td.num {
text-align: center;
}

table.scores td.age {
white-space: nowrap;
}

th {
text-align: right;
vertical-align: top;
padding-top: 5px;
padding-right: 5px;
}

table.scores td.bar {
vertical-align: middle;
padding-left: 5px;
width: 200px;
}

table.form td
{
padding-bottom: 10px;
width: 400px;
}

table.form input[type=text] {
width: 150px;
}

table.form td p.static {
margin-top: 2px;
}

table.form input.full {
width: 380px
}

table.form textarea {
width: 380px;
height: 50px;
}

table.form input[type=submit] {
width: 70px;
}

div.bar {
background-color: #be0b0a;
border: 1px solid #7c0908;
width: 0;
margin: 0;
padding: 0;
cursor: default;
}

div.about {
width: 400px;
padding: 10px;
margin: 0 auto 25px auto;
background-color: #d4bcbc;
}
