<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{{site_name}} - {% block subTitle %}{% endblock %}</title>
<meta http-equiv="Expires" content="0"/>

<link rel="stylesheet" type="text/css" href="/styles/main.css"/>
<link rel="icon" type="image/png" href="/images/favicon.png">

{% block script_includes %}{% endblock %}

<script src="/scripts/g02me.js"></script>
<script src="http://www.google.com/jsapi"></script>

<script>
google.load("jquery", "1.2.6");

{% block script %}
Go2.SetCSRF("{{csrf}}");
function Loaded() {}
{% endblock %}
</script>

</head>

<body onload="Loaded();">

{% block body %}
{% endblock %}

{% block footer %}
<div class="bottom">
<a href="http://code.google.com/p/g02me/wiki/AboutUs">About Us</a> |
<a href="http://blog.go2.me">Blog</a> |
<a href="http://code.google.com/p/g02me/wiki/API">Developers</a> |
<a href="http://getsatisfaction.com/g02me/products/g02me_g02me">Feedback</a> |
<a href="http://code.google.com/p/g02me/wiki/TermsOfService">Terms of Service</a> |
<a href="http://twitter.com/go2me">Twitter</a>
</div>

<div style="text-align:center;padding-top:20px;">
<a href="http://code.google.com/p/g02me/">
	<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
</a>
</div>
{% endblock %}

{% block analytics %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("{{analytics_code}}");
pageTracker._addIgnoredOrganic("{{site_host}}")
pageTracker._addIgnoredOrganic("go2.me")
{% ifnotequal user_type 'base' %}pageTracker._setVar({{user_type}}){% endifnotequal %}
pageTracker._trackPageview();
{% for event in GA_Events %}
	pageTracker._trackPageview("/meta/{{event}}");
{% endfor %}
</script>

{% endblock %}

{% block page_end %}{% endblock %}

</body>
</html>
