body {
margin: 0;
padding: 0;
font-family: verdana, arial, sans-serif;
font-size: 14px;
color: #3d94b0;
}

div {
padding:0;
margin:0;
}

h1 {
margin: 0;
font-size: 20px;
white-space: nowrap;
overflow: hidden;
}

h2 {
margin: 0 0 5px 0;
font-size: 18px;
font-weight: normal;
}

p {
margin: 10px 0;
}

p.subhead {
font-style: italic;
font-weight: bold;
margin: 3px 0;
}

p.help {
font-size: 12px;
font-style: italic;
color: #CDAC6D;
margin: 0 0 3px 0;
}

p.error {
font-style: italic;
color: red;
text-align:center;
}

p.message {
font-style: italic;
text-align:center;
padding: 10px;
background-color: #D7E8ED;
}

p.url {
font-size: 10px;
white-space: nowrap;
overflow: hidden;
margin: 0;
}

a {
color: #45AFD1;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

div.bookmarklet {
text-align: center;
padding: 15px 0;
}

img {
border: 0;
}

img.logo {
width: 200px;
height: 73px;
float: left;
margin-right: 10px;
margin-bottom: 10px;
}

img.logo-small {
width: 93px;
height: 34px;
margin-right: 10px;
padding-top: 2px;
}

img.profile {
float:left;
padding:5px;
}

img.inline {
vertical-align:middle; 
}

img.x:hover {
cursor: pointer;
}

li {
line-height: 18px;
margin-left: -5px;
margin-bottom: 3px;
}

/* Info-bar styles */
div.border-h {
background: url(/images/Border-H.png) repeat-x scroll top;
height: 6px;
}

div.border-v {
background: url(/images/Border-V.png) repeat-y scroll top;
width: 6px;
height: 100%;
}

div.block-top {
background: url(/images/Block-H.png) repeat-x scroll top;
height: 6px;
}

div.block-bottom {
clear: both;
background: url(/images/Block-H.png) repeat-x scroll bottom;
height: 6px;
}

#info {
position: absolute;
top: 0;
left: 0;
width: 294px;
}

#content {
margin: 0 0 0 300px;
height: 100%;
}

#address {
margin: 0 0 0 300px;
font-size: 10px;
}

#address p {
margin: 3px;
}

#address img {
position: relative;
top: 2px;
}

iframe {
width: 100%;
height: 100%;
border: 0;
}

.info div.header {
font-weight: bold;
color: white;
background: url(/images/Block.png) repeat scroll;
}

div.block-left
{
float: left;
background: url(/images/Block-V.png) repeat-y scroll top left;
width: 6px;
height: 100%;
}

div.block-right
{
float: right;
background: url(/images/Block.png-V) repeat-y scroll top right;
width: 6px;
height: 100%;
}

.info div.header a {
color: white;
}

.info div.header img.x {
float: right;
position: relative;
top: 2px;
}

.info #status {
padding-bottom: 5px;
}

.info #status p
{
margin: 0;
padding: 0 4px 1px 5px;
}

.info #info-form {
padding: 0;
margin: 0 0 0 5px;
}

.info label {
font-size: 12px;
}

input[type=text] {
background-color: #EEE;
border: 1px solid #AAA;
padding: 1px 2px;
margin: 1px;
}

div.comments {
height: 300px;
overflow: auto;
}

div.comments p {
color: #AAA;
margin: 0;
padding: 0 4px 2px 5px;
}

/* Page-specific styles (based on pages.html master template) */

div.page {
width: 910px;
margin: auto;
}

div.heading {
float: right;
white-space: nowrap;
}

div.head {
padding-bottom: 20px;
}

div.left {
clear: left;
width: 440px;
float: left;
}

div.right {
float: right;
width: 440px;
padding-left: 20px;
border-left: 1px solid #45AFD1;
}

div.timer {
clear: both;
padding-top:15px;
text-align:center;
}

div.bottom {
clear:both;
text-align:center;
padding: 15px 0 5px 0;
}

table {
border-collapse: collapse;
}

table.scores {
margin: auto;
width: 900px;
}

table.scores th {
text-align: left;
border-bottom: 1px solid;
padding-right: 10px;
}

table.scores td {
vertical-align: top;
padding-top: 5px;
}

table.scores td.title div {
width: 400px;
overflow: hidden;
}

table.scores td.num {
text-align: center;
}

table.scores td.age {
white-space: nowrap;
}

th {
text-align: right;
vertical-align: top;
padding-top: 5px;
padding-right: 5px;
}

table.scores td.bar {
vertical-align: middle;
padding-left: 5px;
width: 200px;
}

table.form td
{
padding-bottom: 10px;
width: 400px;
}

table.form input[type=text] {
width: 150px;
}

table.form td p.static {
margin-top: 2px;
}

table.form input.full {
width: 380px
}

table.form textarea {
width: 380px;
height: 50px;
}

table.form input[type=submit] {
width: 70px;
}

div.bar {
background-color: #E39000;
border: 1px solid #9E6700;
width: 0;
margin: 0;
padding: 0;
cursor: default;
}

div.about {
width: 400px;
padding: 10px;
margin: 0 auto 25px auto;
background-color: #D7E8ED;
}
