body {
margin: 2px 8px;
padding: 0;
font-family: verdana, arial, sans-serif;
font-size: 12px;
color: #3d94b0;
}

h1 {
margin: 0;
font-size: 18px;
}

h2 {
margin: 0;
font-size: 16px;
}

p.subhead {
font-style: italic;
margin-bottom: 15px;
}

a {
color: #45AFD1;
}

img {
border: 0;
}

img.logo {
width: 85px;
height: 85px;
float: left;
margin-right: 10px;
}

img.x:hover {
cursor: pointer;
}

div.ur {
float: right;
margin-left: 10px;
width: 150px;
}

li {
line-height: 18px;
margin-left: -5px;
}

p {
margin: 3px 0px;
}

div.entry {
width: 700px;
margin-left: 90px;
}

div.comments p
{
color: #AAA;
}

div.page
{
width: 910px;
margin: auto;
}

div.heading
{
float: right;
}

div.left
{
clear: left;
width: 350px;
float: left;
}

div.right
{
float: right;
width: 540px;
padding-left: 10px;
border-left: 1px solid #45AFD1;
}

div.timer
{
clear: both;
padding-top:15px;
text-align:center;
}

div.bottom
{
clear:both;
text-align:center;
padding-top: 25px;
}

table.scores th
{
text-align: left;
}

table.scores td.num
{
text-align: center;
}

table.scores td.age
{
width: 100px;
white-space: nowrap;
}