{% extends "pages.html" %}
{% load humanize %}
{% load custom %}
{% load cache %}
{% block subTitle %}A Link Shortening Service{% endblock %}
{% block script %}
Go2.SetCSRF("{{csrf}}");

var txtUsername;
var txtLink;
var txtTitle;

function Loaded()
{
	txtUsername = document.getElementById('username');

	txtLink = document.getElementById("link");
	txtTitle = document.getElementById("title");
	
	Go2.AddEventFn(txtLink, "keydown", function(evt)
		{
		if (evt.keyCode == 13)
			{
			txtTitle.focus();
			evt.preventDefault();
			}
		});

	Go2.AddEventFn(txtTitle, "keydown", function(evt)
		{
		if (evt.keyCode == 13)
			{
			Shorten();
			}
		});

	if (txtUsername)
		{
		txtUsername.focus();
		Go2.AddEventFn(txtUsername, "keydown", function(evt)
			{
			if (evt.keyCode == 13)
				Go2.SetUsername(txtUsername.value);
			});
		}
	else
		txtLink.focus();
		
	Go2.DisplayBars(200);
}

function Shorten()
{
	Go2.Map(txtLink.value, txtTitle.value);
}

{% endblock %}

{% block pagebody %}
<div class="head">
	<a target="_top" href="/"><img title="{{site_name}}" class="logo" src="/images/logo.png"></a>
	<h1 style="padding-top: 20px;">A Link Shortening Service</h1>
	<p class="subhead">Don't just send a link - start a conversation and get feedback.</p>
</div>

<div class="left">

<h2>What is {{site_name}}?</h2>
<ul>
	<li><b>Free</b> - {{site_name}} is free - use it to turn any link into a short one.</li>
	<li><b>Shorter</b> - {{site_name}} links are only 16 characters long - more room for your twitter messages.</li>
	<li><b>Comments</b> - Exchange comments and get feedback from your readers on every link page.</li>
	<li><b>Analytics</b> - see exactly how many people are reading your links.</li>
	<li><b>Personalized</b> - Use a nickname, and get a summary of all
		{% if username %}<a href="/user/{{username}}" title="{{username}}'s activity">{% endif %}
		your own shared links.
		{% if username %}</a>{% endif %}
	</li>
	<li><b>Tags</b> - Add tags when you comment - the most popular links for each tag are collected together
	on one page.</li>
</ul>

<div style="text-align:center;">
<a href="/images/fullscreen.png" title="Click to see full size screen shot.">
	<img alt="Go2.me Screenshot" src="/images/thumbnail.png">
</a>
</div>

</div> <!-- left -->

<div class="right">

<h2>Install the bookmarklet</h2>
<p>Just drag this bookmarklet to your bookmarks toolbar*:</p>
<div class="bookmarklet">
<a class="bookmarklet" title="Drag me to your bookmarks toolbar"
   onclick="alert('Instead of clicking this link, you need to drag it to your toolbar.');return false;"
   href="javascript:location.href='{{host}}map/?url='+encodeURIComponent(location)+'&title='+encodeURIComponent(document.title);">
   <img src="/images/bookmarklet.png" alt="{{site_name}}">
</a>
</div>

<h2>Shorten a link now:</h2>
<p>If you can't install the bookmarklet just now, you can shorten a single link
using this form:</p>
<table>
<tr><th><label for="link">Link (URL):</label></th><td><input id="link" style="width:350px;" value="http://"/></td></tr>
<tr><th><label for="title">Title (opt):</label></th><td><input id="title" style="width:350px;"/></td></tr>
<tr><th></th><td style="text-align:right;"><input type="button" onclick="Shorten();" value="Shorten"/></td></tr>
</table>

<i>
* Installation instructions for Internet Explorer:
<ul>
	<li>Right click on the {{site_name}} link (above)</li>
	<li>Select "Add to Favorites..."</li>
	<li>Click "Yes" when you see the Security Alert.</li>
	<li>Select "Links" in the "Create In" dropdown.</li>
	<li>Click "Add"</li>
</ul>
</i>

</div> <!-- right -->

{% cache 60 home %}
<div style="clear:both;padding-top:15px;">
<h2>Recently popular links</h2>
<p class="subhead">{{total_pages|intcomma}} links shared to date.</p>
<table class="scores">
<tr><th></th><th>Title</th><th>Shared</th><th>Viewed</th><th>Comments</th><th>Created</th><th>Score</th></tr>
{% for page in pages %}
	{% if page.ModelExists %}
	<tr>
		<td style="width:18px;"><span style="display:none;" class="ssu Snap_Shot_URL">{{page.model.url|escape}}</span></td>
		<td>
			<a href="/{{page.model.GetId}}" title="{{page.model.url|escape}}">{{page.model.title|escape}}</a>
		</td>
		<td class="num">{{page.model.shareCount|intcomma}}</td>
		<td class="num">{{page.model.viewCount|intcomma}}</td>
		<td class="num">{{page.model.CommentCount|intcomma}}</td>
		<td class="age">{{page.model.dateCreated|Age}}
			{% if page.model.Creator %}
				by <a href="/user/{{page.model.Creator}}">{{page.model.Creator}}</a>
			{% endif %}
		</td>
		<td style="width:200px;" class="bar"><div class="bar" bar_value="{{page.ScoreNow|mult:24|floatformat:1}}"
			title="{{page.ScoreNow|mult:24|floatformat:1}} points Today">&nbsp;</div></td>
	</tr>
	{% endif %}
{% endfor %}
</table>
</div>
{% endcache %}

{% endblock %}
