{% extends "master.html" %}
{% load humanize %}
{% load custom %}

{% block subTitle %}{{map.title|escape}}{% endblock %}

{% block script %}
Go2.SetCSRF("{{csrf}}");
msLoaded = new Date().getTime();

function BeforeUnload(evt)
{
	msUnloading = new Date().getTime();
	
	if (msUnloading - msLoaded < 5000)
		{
		evt = evt || window.event || {};
		evt.returnValue = "Click CANCEL to keep the {{site_name}} header at the top of the page.";
		return evt.returnValue;
		}
}

window.onbeforeunload = BeforeUnload;

var txtUsername;
var txtComment;
var divContent;
var divInfo;
var divCommentForm;
var divComments;
var divBorderV;
var divSponsor;
var iframe;
var spanLinkLabel;

function Loaded()
{
	txtUsername = document.getElementById("username")
	if (txtUsername)
		{
		txtUsername.focus();
		Go2.AddEventFn(txtUsername, "keydown", function(evt) {
			if (evt.keyCode == 13)
				Go2.SetUsername(txtUsername.value);
			});
		}

	txtComment = document.getElementById("comment");
	var objParams = Go2.ParseParams(window.location.href);
	if (objParams.comment)
		txtComment.value = objParams.comment;
	txtComment.focus();

	Go2.AddEventFn(txtComment, "keydown", KeyDownComment);
	
	divContent = document.getElementById("content");
	divInfo = document.getElementById("info");
	divComments = document.getElementById("comments");
	divBorderV = document.getElementById("border-v");
	divCommentForm = document.getElementById("comment-form");
	divSponsor = document.getElementById("sponsor-panel");
	Go2.AddEventFn(window, "resize", OnResize);
	
	iframe = document.getElementById("iframe");
	Go2.AddEventFn(iframe, "load", OnNavigate);
	
	spanLinkLabel = document.getElementById("linkLabel");
	
	OnResize();
}

function OnResize()
{
	var rcWindow = Go2.DOM.RcWindow();
	var dyMax = rcWindow[3];

	var ptContent = Go2.DOM.PtClient(divContent);
	divContent.style.height = (dyMax - ptContent[1]) + "px"; 
	divInfo.style.height = (dyMax-32) + "px";
	divBorderV.style.height = (dyMax-32) + "px";
	
	var ptComments = Go2.DOM.PtClient(divComments);
	var ptCommentForm = Go2.DOM.PtSize(divCommentForm);
	var ptSponsor = Go2.DOM.PtSize(divSponsor);
	var dyComments = Math.max(90, dyMax - ptCommentForm[1] - ptSponsor[1] - ptComments[1]);
	divComments.style.height = dyComments + "px";
}

var fResetFrame = false; 

function OnNavigate()
{
	// Can't get URL of user-navigated frame due to browser security.
	if (fResetFrame)
		{
		fResetFrame = false;
		return;
		}
	
	spanLinkLabel.innerHTML = "Original Link";
}

function ResetFrame()
{
	msLoaded = new Date().getTime();
	iframe.src = "{{map.Href}}";
	fResetFrame = true;

	spanLinkLabel.innerHTML = "Link";
}

function Click()
{
	msLoaded = 0;
}

function PostComment()
{
	Go2.PostComment("{{map.GetId}}", txtComment.value);
}

function KeyDownComment(evt)
{
	if (evt.keyCode == 13)
		{
		PostComment();
		evt.preventDefault();
		}
}

Go2.AddEventFn(window, "click", Click)
{% endblock %}

{% block body %}
<div class="title">
	<a target="_top" href="/" title="{{site_name}} Home | Popular Pages">
		<img class="title-logo" src="/images/title-logo.png"/>
	</a>
	<a href="{{map.Href}}" title="Close Frame"><div class="close-box"></div></a>
	
	<div class="title-account">
	{% if username %}
		<div style="margin-top: 4px;">
			<a href="/user/{{username}}" title="{{username}}'s activity">{{username}}</a>
			{% if profile %}
				(<a href="/profile" title="{{username}}'s profile">Profile</a>)
			{% else %}
				(<a href="/profile" title="Your nickname is temporary until you create a (free) account.">Create Account</a>)
			{% endif %} |
			<a href="#" onclick="Go2.SetUsername('');return false;">Sign out</a>
		</div>
	{% else %}
		<div id="sign-in">
		    <label for="username">Nickname: </label>
		    <input maxlength="20" style="width:70px;" type="text" id="username" name="username"/>
			<input onclick="Go2.SetUsername(txtUsername.value);" style="width:70px;" type="button" value="Set It"/>
		</div>
	{% endif %}
	</div>

	<p class="link">
		<span id="linkLabel">Link</span>:
		<a onclick="ResetFrame();return false;" href="{{map.Href}}" alt="{{map.title|escape}}" title="{{map.title|escape}}">
			{{map.url|escape}}
		</a>
	</p>
</div>

<div id="info" class="info">

	<!-- Statistics Panel -->
	<div id="stats-panel" class="panel">
		<div class="expanded"></div>
		<div class="panel-body">
			<div class="open-star" title="Make a Favorite"></div>
			{% if map.Creator %}
				<div class="creator">
				<a href="/user/{{map.Creator}}">
					<img class="profile-med" src="/user/{{map.Creator}}/picture_med">
				</a><br/>
				<a href="/user/{{map.Creator}}">{{map.Creator}}</a>
				</div>
			{% else %}
				<div class="creator">
					<img class="profile-med" src="/images/picture_med.png">
				</div>				
			{% endif %}
			<div class="content">
				<p>Created: {{map.dateCreated|Age}}</p>
				<p>Shared: {{map.shareCount|intcomma}}</p>
				<p>Viewers: {{map.viewCount|intcomma}}</p>
				<p>Commenters: {{map.CommentCount|intcomma}}</p>
				<p>Faved: {{map.FavoriteCount|intcomma}}</p>
				<p>Alexa Rank: 45,436</p>
				<p>Tags: 
				{% for tag in TopTags %}
					<a target="_top" href="/tag/{{tag}}" title="Recently popular | {{tag}}">{{tag|escape}}</a>{% if not forloop.last %}, {% endif %}
				{% endfor %}
				</p>
			</div>
			<div style="margin: 5px 5px 2px 0;text-align:right;">
				<a href="#">Make Private</a> |
				<a href="#">Report Page</a>
				{% if is_admin %}
					| <a href="#" onclick="Go2.BanishId('{{map.GetId}}', '{{map.Banished}}'=='False'); return false;">{% if map.Banished%}Un-{% endif %}Ban</a>
				{% endif %}
			</div>
			<div style="margin: 5px 5px 2px 0;text-align:right;">
				<a href="mailto:?subject=Go2.me at {{map.title|escape}}&body=I've shared a link with you at http://{{site_host}}/{{map.GetId}}"
				   title="Send Link by Email">
					<img src="/images/email.png">
				</a>
				<a target="_blank"
				   href="http://www.facebook.com/share.php?u=http://{{site_host}}/{{map.GetId}}"
				   onclick="Go2.FacebookShare('http://{{site_host}}/{{map.GetId}}', '{{map.title|escape}}');return false;"
				   title="Share Link on Facebook">
					<img src="/images/facebook.png">
				</a>
				<a target="_blank"
				   href="http://twitter.com/home?source={{twitter_source}}&status={{map.TweetText|urlencode}}"
				   title="Share Link on Twitter">
					<img src="/images/twitter-logo.png">
				</a>
			</div>
		</div>
	</div>
	
	<!-- Chat/Comments Panel -->
	<div id="chat-panel" class="panel">
		<div class="panel-header">
			<div class="expanded"></div>
			Chat
		</div>
		<div class="panel-body">
			<!-- Variable height -->
			<div id="comments" class="comments">
				{% for comment in map.Comments %}
				<p>
			    {% if comment.username %}<a target="_top" href="/user/{{comment.username}}" title="{{comment.username}}'s activity">{{comment.username}}</a>:{% endif %}
			    {{comment.comment|escape|urlizetop}}
			    {% if comment.tags %}
			    	[{% for tag in comment.TagList %}<a target="_top" href="/tag/{{tag}}" title="{{tag}} pages">{{tag}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}]
			    {% endif %}
			    - {{ comment.dateCreated|Age }}
			    {% if comment.AllowDelete %}
			    <img class="x" onclick="Go2.DeleteComment('{{comment.DelKey}}');" src="/images/x.png"/>
			    {% endif %}
			    </p>
				{% endfor %}
			</div>
			
			<div id="comment-form" class="comment-form">
				<div class="divider-h"></div>
				<p>
					<label for="comment">Comment:<br/></label>
					<input style="float: right;" onclick="PostComment();" type="button" value="Post" tabindex="3"/>
				
					<input style="width:300px;height:40px;" type="text" id="comment" name="comment" tabindex="2"/>
				</p>
			
				<p style="clear:left;" class="help">Comment format: "nickname: text of your comment [tag1, tag2, ...]"</p>
			</div>
		</div>
	</div>

	<!-- Sponsor Panel -->
	<div id="sponsor-panel" class="panel">
		<div class="panel-header">
			<div class="expanded"></div>
			Sponsored By
		</div>
		<div class="panel-body">
			<div style="height:250px">
				<script type="text/javascript">
					google_ad_client = "pub-0345330507104463";
					/* 300x250, map-bottom */
					google_ad_slot = "5864034136";
					google_ad_width = 300;
					google_ad_height = 250;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
			<div style="text-align:center;" class="p-body">
				<a href="http://code.google.com/p/g02me/wiki/AboutUs">About Us</a> |
				<a href="http://blog.go2.me">Blog</a> |
				<a href="http://getsatisfaction.com/g02me/products/g02me_g02me">Feedback</a>
			</div>
		</div>
	</div>

</div> <!-- info sidebar -->

<div id="border-v" style="position:absolute;top:32;left:300px;height:3000px;" class="border-v"></div>

<div id="content">
	<iframe id="iframe" name="dummy" src="{{map.Href}}"/>
		Your browser does not support frames.  You can visit the page by clicking
		this link:
		<a href="{{map.Href}}" alt="{{map.title|escape}}" title="{{map.title|escape}}">.
	</iframe>
</div>
{% endblock %}
