{% extends "master.html" %}
{% load humanize %}
{% load custom %}

{% block subTitle %}{{map.title|escape}}{% endblock %}

{% block script %}
Go2.SetCSRF("{{csrf}}");
msLoaded = new Date().getTime();

function BeforeUnload(evt)
{
	msUnloading = new Date().getTime();
	
	if (msUnloading - msLoaded < 5000)
		{
		evt = evt || window.event || {};
		evt.returnValue = "Click CANCEL to keep the {{site_name}} header at the top of the page.";
		return evt.returnValue;
		}
}

window.onbeforeunload = BeforeUnload;

var txtUsername;
var txtComment;
var divContent;
var divInfo;
var iframe;
var spanLinkLabel;
var spanCloseLabel;

function Loaded()
{
	txtUsername = document.getElementById("username")
	if (txtUsername)
		Go2.AddEventFn(txtUsername, "keydown", KeyDownUsername);

	txtComment = document.getElementById("comment");
	var objParams = Go2.ParseParams(window.location.href);
	if (objParams.comment)
		txtComment.value = objParams.comment;
	txtComment.focus();

	Go2.AddEventFn(txtComment, "keydown", KeyDownComment);
	
	divContent = document.getElementById("content");
	divInfo = document.getElementById("info");
	Go2.AddEventFn(window, "resize", OnResize);
	
	iframe = document.getElementById("iframe");
	Go2.AddEventFn(iframe, "load", OnNavigate);
	
	spanLinkLabel = document.getElementById("linkLabel");
	spanCloseLabel = document.getElementById("closeLabel");
	
	OnResize();
}

function OnResize()
{
	var rcWindow = Go2.DOM.RcWindow();
	var ptContent = Go2.DOM.PtClient(divContent);
	var dyMax = rcWindow[3];

	divContent.style.height = (dyMax - ptContent[1]) + "px"; 
	divInfo.style.height = dyMax + "px";
}

var fResetFrame = false; 

function OnNavigate()
{
	// Can't get URL of user-navigated frame due to browser security.
	if (fResetFrame)
		{
		fResetFrame = false;
		return;
		}
	
	spanLinkLabel.innerHTML = "Original Link";
	spanCloseLabel.innerHTML = "Return to Link";
}

function ResetFrame()
{
	iframe.src = "{{map.Href}}";
	fResetFrame = true;

	spanLinkLabel.innerHTML = "Link";
	spanCloseLabel.innerHTML = "Close";
}

function Click()
{
	msLoaded = 0;
}

function PostComment()
{
	Go2.PostComment("{{map.GetId}}", txtUsername ? txtUsername.value : '', txtComment.value);
}

function KeyDownUsername(evt)
{
	if (evt.keyCode == 13)
		{
		txtComment.focus();
		evt.preventDefault();
		}
}	

function KeyDownComment(evt)
{
	if (evt.keyCode == 13)
		{
		PostComment();
		evt.preventDefault();
		}
}

window.onclick = Click;
{% endblock %}

{% block body %}
<div id="info">
	<div id="info-status">
		<p class="stats-header">
			<a style="float:right;padding-top:2px;padding-right:2px;" target="_top" href="{{map.Href}}" title="Close Frame"><img class="x" src="/images/x.png"/></a>
			Go2.me
		</p>
		<p>Created: {{map.dateCreated|Age}}
			{% if map.Creator %}
			by <a href="/user/{{map.Creator}}" target="_top">{{map.Creator}}</a>
			{% endif %}
		</p>
		<p>Shared: {{map.shareCount|intcomma}}</p>
		<p>Viewed: {{map.viewCount|intcomma}}</p>
		<p>Comments: {{map.CommentCount|intcomma}}</p>
		<p>Tags: 
		{% for tag in TopTags %}
			<a target="_top" href="/tag/{{tag}}" title="Recently popular | {{tag}}">{{tag|escape}}</a>{% if not forloop.last %}, {% endif %}
		{% endfor %}
		</p>
		{% if is_admin %}<p style="text-align:center;">
			<input type="button" onclick="Go2.BanishId('{{map.GetId}}', '{{map.Banished}}'=='False');" value="{% if map.Banished%}Un-{% endif %}Ban"/>
		</p>{% endif %}
	</div> <!-- info-status -->
	
	<div class="comments">
	{% for comment in map.Comments %}
		<p>
	    {% if comment.username %}<a target="_top" href="/user/{{comment.username}}" title="{{comment.username}}'s activity">{{comment.username}}</a>:{% endif %}
	    {{comment.comment|escape|urlizetop}}
	    {% if comment.tags %}
	    	[{% for tag in comment.TagList %}<a target="_top" href="/tag/{{tag}}" title="{{tag}} pages">{{tag}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}]
	    {% endif %}
	    - {{ comment.dateCreated|Age }}
	    {% if comment.AllowDelete %}
	    <img class="x" onclick="Go2.DeleteComment('{{comment.DelKey}}');" src="/images/x.png"/>
	    {% endif %}
	    </p>
	{% endfor %}
	</div>

	<div id="info-form">
		<p>
			<label for="username">Nickname:</label>
			{% if username %}
				<a href="/user/{{username}}" title="{{username}}'s activity">{{username}}</a>
				(<a onclick="Go2.SetUsername('');return false;" href="#">Sign out</a>)
			{% else %}
			<input maxlength="20" style="width:70px;" type="text" id="username" name="username" tabindex="1"/>
			{% endif %}
		</p>
		
		<p>
			<label for="comment">Comment:<br/></label>
			<input style="float: right;" onclick="PostComment();" type="button" value="Post" tabindex="3"/>
		
			<input style="width:300px;height:40px;" type="text" id="comment" name="comment" tabindex="2"/>
		</p>
	
		<p style="clear:left;" class="help">Comment format: "nickname: text of your comment [tag1, tag2, ...]"</p>
	</div>
	

	
	<div class="bottom">
		<a target="_top" href="/" title="{{site_name}} Home | Popular Pages"><img class="logo-small" src="/images/logo-small.png"></a>
	</div>
	
	</div> <!-- info-body -->
</div> <!-- sidebar -->

<div id="address">
	<a style="float:right;padding-top:2px;padding-right:2px;" target="_top" href="{{map.Href}}" title="Close Frame"><span id="closeLabel">Close</span> <img class="x" src="/images/x.png"/></a>
	<p id="url" class="url"><span id="linkLabel">Link</span>: <a onclick="ResetFrame();return false;" href="{{map.Href}}" title="{{map.title|escape}}">{{map.url|escape}}</a></p>
</div>

<div id="content">
	<iframe id="iframe" src="{{map.Href}}"/>
		Your browser does not support frames.
	</iframe>
</div>
{% endblock %}
