{% extends "master.html" %}
{% block subTitle %}Administration{% endblock %}
{% block body %}
<div class="page">

<a target="_top" href="/"><img title="G02.ME" class="logo" src="/images/logo.png"></a>
<h1 style="padding-top: 40px;">Community URL Sharing Service</h1>


<div class="left">
<h2>Welcome, {{ user.nickname }}</h2>
<a href="/admin/clean-broken">Remove Broken Scores</a>
<br/><a href="/admin/clean-comments">Remove Empty Comments</a>
<br/><a href="/admin/clean-broken-comments">Remove Broken Comments</a>
<br/><a href="/admin/fix-tag-counts">Fix Tag Counts</a>
</div> <!-- left -->

<div class="right">
<h2>Broken Scores: {{ Broken|length }}</h2>
<table class="scores">
<tr><th>name</th><th>hrsHalf</th><th>S</th><th>LogS</th><th>hrsLast</th></tr>
{% for score in Broken %}
	<tr>
		<td>{{score.name}}</td>
		<td class="num">{{score.hrsHalf}}</td>
		<td class="num">{{score.S}}</td>
		<td class="num">{{score.LogS}}</td>
		<td class="num">{{score.DateLast}}</td>
	</tr>
{% endfor %}
</table>

<h2>Bad Comments: {{BadComments|length}}</h2>
<h2>Broken Comments: {{ BrokenComments|length }} </h2>
<table class="scores">
<tr><th>comment</th><th>dateCreated</th><th>MapKey</th></tr>
{% for comment in BrokenComments %}
	<tr>
		<td>{{comment.comment|escape}}</td>
		<td class="num">{{comment.dateCreated}}</td>
		<td class="num">{{comment.MapKey}}</td>
	</tr>
{% endfor %}
</table>

<h2>Bad Tag Counts: {{BadCounts|length}}</h2>
<ol>
{% for map in BadCounts %}
	<li>(<a href="/info/{{map.GetId}}">info</a>): {{map.STagDiff|escape}}</li>
{% endfor %}
</ol>
</div> <!-- right -->



<div class="bottom">
<a href="{{ logout }}">Logout</a>
</div> <!-- bottom -->


</div> <!-- page -->
{% endblock %}
