{% extends "master.html" %}
{% block head %}
{% endblock %}
{% block subTitle %}{{map.title}}{% endblock %}
{% block body %}
<a target="_top" href="/"><img class="logo" src="/images/logo.png"></a>
<div class="ur">
<a target="_top" href="{{map.url}}">Close [x]</a>
<p>Viewed: {{map.viewCount}}</p>
<p>Shared: {{map.shareCount}}</p>
</div>
<h1><a target="_top" href="{{map.url}}">{{map.title|escape}}</a></h1>
<p>{{map.url|escape}}</p>
<div style="clear:both;width:700px;">
  <label for="comment">Comment: </label><input style="width:500px;" type="text" id="comment">&nbsp;<input type="button" value="Post">
  <br/><i>Example: "username: type your comment here [tag1, tag2, ...]"</i>
</div>
{% endblock %}
