{% extends "master.html" %}
{% block subTitle %}Community URL Sharing Service{% endblock %}
{% block body %}
<h1>G02.ME - Community URL Sharing Service</h1>
<form action="/map" method="get">
<p>
<label for="url">URL:</label>
<input type="text" name="url">
</p>
<p>
<label for="title">Title:</label>
<input type="text" name="title">
</p>
<p>
<input type="submit" value="G02.ME">
</p>
<p>
Drag this bookmarklet
<a href="javascript:location.href='{{host}}+map?url='+encodeURIComponent(location)+'&title='+encodeURIComponent(document.title);">G02.ME</a>
to your toolbar to share a G02.ME page directly from your browser.
</p>
</form>
{% endblock %}
