{% extends "pages.html" %}
{% load humanize %}
{% load custom %}
{% load cache %}
{% block subTitle %}Popular Links{% endblock %}

{% block script %}
Go2.Init("{{username}}", "{{csrf}}");

var txtUsername;

function Loaded()
{
	txtUsername = document.getElementById('username');
	if (txtUsername)
		{
		txtUsername.focus();
		Go2.AddEventFn(txtUsername, "keydown", KeyDown);
		}

	Go2.DisplayBars(200);
}

function KeyDown(evt)
{
	if (evt.keyCode == 13)
		Go2.SetUsername(txtUsername.value);
}
{% endblock %}

{% block page-heading %}Popular Links{% endblock %}
{% block page-subheading %}These links have been the most recently active on {{site_name}}.{% endblock %}

{% block pagebody %}

{% cache 180 popular-11A %}
<table class="scores">
<tr><th>Title</th><th class="num">Visits</th><th class="num">Comments</th><th>Created</th><th>Score</th></tr>
{% for page in pages %}
	{% if page.ModelExists %}
	<tr>
		<td class="title"><div>
			<img class="favicon" src="http://{{page.model.Domain}}/favicon.ico">
			<a target="_blank" href="/{{page.model.GetId}}" title="{{page.model.url|escape}}">{{page.model.title|escape}}</a>
		</div></td>
		<td class="num">{{page.model.viewCount|intcomma}}</td>
		<td class="num">{{page.model.CommentCount|intcomma}}</td>
		<td class="age"><div>
			{% if page.model.Creator %}
				<a href="/user/{{page.model.Creator}}">
					<img class="inline" src="/user/{{page.model.Creator}}/picture_thumb"></a>
				<a href="/user/{{page.model.Creator}}">{{page.model.Creator}}</a> -
			{% endif %}
			{{page.model.dateCreated|Age}}
		</div></td>
		<td class="bar-td"><div class="bar-holder">
			<div class="bar" bar_value="{{page.ScoreNow|floatformat:1}}"
				 title="{{page.ScoreNow|floatformat:1}} points Today">&nbsp;
			 </div>
		</div></td>
	</tr>
	{% endif %}
{% endfor %}
</table>
{% endcache %}

{% endblock %}