{% extends "pages.html" %}
{% block subTitle %}A Link Shortening Service{% endblock %}
{% block pagebody %}
<a target="_top" href="/"><img title="G02.ME" class="logo" src="/images/logo.png"></a>
<h1 style="padding-top: 30px;">A Link Shortening Service</h1>
<p class="subhead">Shorten, Share, and Comment - then see what others are doing</p>

<div class="left">

<h2>Install the bookmarklet</h2>
<p>Just drag this bookmarklet to your bookmarks toolbar*:</p>
<p style="margin: 10px 100px;">
<a style="font-size: 24px;" title="Drag me to your bookmarks toolbar"
   href="javascript:location.href='{{host}}map/?url='+encodeURIComponent(location)+'&title='+encodeURIComponent(document.title);">G02.ME</a>
</p>

<h2>What is G02.ME?</h2>
<ul>
	<li><b>Free</b> - G02.ME is free hyperlink shortening service - use it to turn any link into a short one.</li>
	<li><b>Short</b> - G02.ME links are only 16 characters long <i>(for comparison, tinyurl links are 25 characters long)</i> -
	perfect for embedding in <a href="http://twitter.com">Twitter</a> or IM messages
	(e.g., <a href="http://g02.me/G">http://g02.me/G</a>)
	</li>
	<li><b>Comments</b> - Exchange comments at the top of any shared G02.ME page.</li>
	<li><b>Analytics</b> - Each G02.ME page displays the number of viewers	so you can see how often your link has been viewed.</li>
	<li><b>Personalized</b> - Pick a username, and use it with all your comments.  You can then get a summary of all your most recently shared links.</li>
	<li><b>Tags</b> - Add a tag, and then click on the tag link to see the most popular links for that tag -
	it's a great way to find out what others are sharing.</li>
</ul>

<i>
* Installation instructions for Internet Explorer:
<ul>
	<li>Right click on the G02.ME link (above)</li>
	<li>Select "Add to Favorites..."</li>
	<li>Click "Yes" when you see the Security Alert.</li>
	<li>Select "Links" in the "Create In" dropdown.</li>
	<li>Click "Add"</li>
</ul>
</i>

<div style="text-align:center;">
<a href="http://code.google.com/p/g02me/">
<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine" /></a>
</div>

</div> <!-- left -->

<div class="right">
<h2>Recently popular links</h2>
<p class="subhead">{{total_pages}} pages shared to date.</p>
<table class="scores">
<tr><th>Title</th><th>Shared</th><th>Viewed</th><th>Comments</th><th>Created</th></tr>
{% for page in pages %}
	{% if page.ModelExists %}
	<tr>
		<td><a href="/{{page.model.GetId}}" title="{{page.model.url|escape}}">{{page.model.title|escape}}</a></td>
		<td class="num">{{page.model.shareCount}}</td>
		<td class="num">{{page.model.viewCount}}</td>
		<td class="num">{{page.model.CommentCount}}</td>
		<td class="age">{{page.model.Age}}</td>
	</tr>
	{% endif %}
{% endfor %}
</table>
</div> <!-- right -->
{% endblock %}
