{% extends "master.html" %}
{% block subTitle %}A URL Shortening Service{% endblock %}
{% block body %}
<div class="page">

<a target="_top" href="/"><img title="G02.ME" class="logo" src="/images/logo.png"></a>
<h1 style="padding-top: 35px;">A URL Shortening Service</h1>
<p>Shorten, Share, and Comment - then see what others are doing</p>

<div class="left">

<h2>Install the bookmarklet</h2>
<p>Just drag this bookmarklet to your toolbar*:</p>
<p style="margin: 10px 100px;">
<a style="font-size: 24px;" title="G02.ME" href="javascript:location.href='{{host}}map/?url='+encodeURIComponent(location)+'&title='+encodeURIComponent(document.title);">G02.ME</a>
</p>

<h2>What is G02.ME?</h2>
<ul>
	<li>G02.ME is free URL shortening service - use it to turn any URL into a short one.</li>
	<li>G02.ME URL's are only 16 characters long <i>(for comparison, tinyurl URL's are 25 characters long)</i> -
	perfect for embedding in <a href="http://twitter.com">Twitter</a> or IM messages
	(e.g., <a href="http://g02.me/G">http://g02.me/G</a>)
	</li>
	<li>Exchange comments at the top of any shared G02.ME page.</li>
	<li>Each G02.ME page displays the number of viewers	so you can see how often your link has been viewed.</li>
	<li>Pick a username, and use it with all your comments.  You can then get a summary of all your most recently shared pages.</li>
	<li>Add a tag, and then click on the tag link to see the most popular URL's for that tag -
	it's a great way to find out what others are sharing.</li>
</ul>

<i>
* Installation instructions for Internet Explorer:
<ul>
	<li>Right click on the G02.ME link (above)</li>
	<li>Select "Add to Favorites..."</li>
	<li>Click "Yes" when you see the Security Alert.</li>
	<li>Select "Links" in the "Create In" dropdown.</li>
	<li>Click "Add"</li>
</ul>
</i>

<div style="text-align:center;">
<a href="http://code.google.com/p/g02me/">
<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine" /></a>
</div>

</div> <!-- left -->

<div class="right">

<h2>Recently popular pages</h2>
<table class="scores">
<tr><th>Title</th><th>Shared</th><th>Viewed</th><th>Comments</th></tr>
{% for page in pages %}
	{% if page.ModelExists %}
	<tr>
		<td><a href="/{{page.model.GetId}}">{{page.model.title|escape}}</a></td>
		<td class="num">{{page.model.shareCount}}</td>
		<td class="num">{{page.model.viewCount}}</td>
		<td class="num">{{page.model.CommentCount}}</td>
	</tr>
	{% endif %}
{% endfor %}
</table>
</div> <!-- right -->

<div class="bottom">
<a href="http://code.google.com/p/g02me/wiki/AboutUs">About Us</a> |
<a href="http://blog.g02.me">Blog</a> |
<a href="http://code.google.com/p/g02me/wiki/API">Developers</a> |
<a href="http://code.google.com/p/g02me/wiki/TermsOfService">Terms of Service</a>
</div>

</div>
{% endblock %}
