<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link rel="icon" type="image/png" href="/images/favicon.png">
<title>G02.ME - {{title}}</title>
</head>
<frameset rows="137,*">
<frame src="/+info?id={{id}}" scrolling="no" marginwidth="0" marginheight="0"/>
<frame src="{{map.url}}"/>
<noframes>
<body>
Your browser does not support frames.  Your can visit the target page at {{ map.url }}
</body>
</noframes>
</frameset>
</html>