<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Expires" content="0"/>
<link rel="stylesheet" type="text/css" href="/styles/main.css"/>
<link rel="icon" type="image/png" href="/images/favicon.png">
<title>G02.ME - {% block subTitle %}{% endblock %}</title>
{% block head %}
<script>
function Loaded() {}
</script
{% endblock %}
</head>

<body onload="Loaded();">

{% block body %}
{% endblock %}

{% block footer %}
<div class="bottom">
<a href="http://code.google.com/p/g02me/wiki/AboutUs">About Us</a> |
<a href="http://blog.g02.me">Blog</a> |
<a href="http://code.google.com/p/g02me/wiki/API">Developers</a> |
<a href="http://code.google.com/p/g02me/wiki/TermsOfService">Terms of Service</a>
</div>
{% endblock %}

{% block analytics %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5439059-1");
pageTracker._trackPageview();
</script>
{% endblock %}

</body>
</html>
