{% extends "master.html" %}
{% block subTitle %}Recently popular | {{tag|escape}}{% endblock %}
{% block body %}
<div class="page">
<a target="_top" href="/" title="G02.ME Home | Popular Pages"><img class="logo" src="/images/logo.png"></a>
<h1 style="padding-top: 40px;">Recently popular | {{tag|escape}}</h1>
<div style='clear:both;'></div>
<table class="scores">
<tr><th>Title</th><th>Shared</th><th>Viewed</th><th>Comments</th><th>Created</th></tr>
{% for page in pages %}
	{% if page.ModelExists %}
	<tr>
		<td><a href="/{{page.model.GetId}}" title="{{page.model.url|escape}}">{{page.model.title|escape}}</a></td>
		<td class="num">{{page.model.shareCount}}</td>
		<td class="num">{{page.model.viewCount}}</td>
		<td class="num">{{page.model.CommentCount}}</td>
		<td class="age">{{page.model.Age}}</td>
	</tr>
	{% endif %}
{% endfor %}
</table>

<div class="bottom">
<a href="http://code.google.com/p/g02me/wiki/AboutUs">About Us</a> |
<a href="http://code.google.com/p/g02me/wiki/API">Developers</a> |
<a href="http://code.google.com/p/g02me/wiki/TermsOfService">Terms of Service</a>
</div>

</div>
{% endblock %}
